<!-- <div class="text-center text-2xl">
    <h1 >Welcome to Live Cricket Match Score.</h1>
    
</div> -->



<!-- text-movement.component.html -->

<div class="text-container ">
    <span class="animated-text text-center text-2xl">Welcome to Live Cricket Match Score by Mithun Kumar</span>
  </div>
  
<div class="">
    <!-- <img src="https://imgproxy.nanxiongnandi.com/ulj3GwGlphDqe2mDdEQqdfQEZrbszJ0XLZaIN3FKAis/w:1280/aHR0cHM6Ly9pbWcu/bmFueGlvbmduYW5k/aS5jb20vMjAwOTA5/L01DRy5qcGc.jpg " alt="https://imgproxy.nanxiongnandi.com" height="400px" width="1000px" > -->
    <img src="assets/images/cricketInformer.jpg" >
</div>

